<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>


<!--the th object equals dollarsign category binds this to form-->
<form th:method="post" th:object="${category}" >

    <div class="form-group">
        <label th:for="name">In this box right here</label>
        <input class="form-control" th:field="*{name}" />
        <span th:errors="*{name}" class="error"></span>

    </div>
    <input type="submit" value="Do it" />
</form>
<div>If you changed your mind click <a href="/cheese">Right Here</a> to go back Home</div>
</body>
</html>